@model IEnumerable<TableStructure>

@functions {
    string divId(TableStructure t)
    {
        return "d_" + t.getName();
    }
}

<div class="container-fluid">
    <ul class="nav nav-pills nav-stacked col-sm-2">
        <li class="active"><a data-toggle="tab" href="#tableHome">Home</a></li>
        @foreach (TableStructure table in Model)
        {
            <li>
                <a href="#@divId(table)" data-toggle="tab" onclick="loadTab(this, '@table.getName()');">
                    @table.getName()
                    <span class="badge" style="text-align:right">@table.getRows()</span>
                </a>
            </li>
        }
    </ul>

    <div class="tab-content panel col-sm-10" style="overflow-x:inherit; ">
        <div id="tableHome" class="tab-pane active" data-role="page">
            <h3>Database explorer</h3>
        </div>
        @foreach (TableStructure table in Model)
        {
            <div id="d_@table.getName()" class="tab-pane well-lg" data-role="page"
                 data-orgurl="@Url.Action("Index", "Row", new { package = ViewBag.Package, schema = table.getSchema(), table = table.getName(), pageNumber=1 })">
                @table.getName() Here
            </div>
        }
    </div>
</div>

<script>
    function loadTab(anchor, tableName, pageNum) {
        var div = $('#d_' + tableName);
        console.log(div);
        var divElm = div[0];

        if (pageNum)
            divElm.dataset.page = pageNum;
        if (!divElm.dataset.page)
            divElm.dataset.page = 1;
        var page = divElm.dataset.page;

        var url = divElm.dataset.orgurl;
        url = url.substr(0, url.length - 1) + page;

        $.get(url, function (data) {
            div.html(data);
        });
    }
</script>