<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" media="screen" href="/public/stylesheets/main.css" />
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png" />
    <link rel="stylesheet" href="@Url.Content("~/public/libs/bootstrap-3.3.5-dist/css/bootstrap.min.css")" />
    <script data-main="@Url.Content("~/public/javascripts/main")" src="@Url.Content("~/public/libs/requirejs-2.1.20/minifiedrequire.js")"></script>
        
</head>
<body>
    @{
        var order = end_user_gui.Modules.Environment.Current().Session().CurrentOrder;
        RenderPage("navbar.cshtml", order);
    }
    <div class="container">
        @RenderBody()
    </div>
    <script>
    </script>
</body>
</html>
