<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" media="screen" href="/public/stylesheets/main.css" />
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png" />
    <link rel="stylesheet" href="@Url.Content("~/public/libs/bootstrap-3.3.5-dist/css/bootstrap.min.css")" />
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
    <script data-main="@Url.Content("~/public/javascripts/main")" src="@Url.Content("~/public/libs/requirejs-2.1.20/minifiedrequire.js")"></script>
    @RenderSection("PageScripts", false)

</head>
<body style="overflow-y:scroll">
    @{
        var order = end_user_gui.Modules.Environment.Current().Session().CurrentOrder;
        Html.RenderPartial("~/Views/Shared/navbar.cshtml", order);
    }
    <div class="container">
        @RenderBody()
    </div>
    <script language="javascript">

        require(['searchresultview'], function (s) {
            s.callSearch();
        });

        require(['cart'], function (c) {
            c.setCartButtonEvents(); // implicit in callSearch()
            c.refreshCartContents();
        });

    </script>
</body>
</html>
