@using end_user_gui.Models
@using end_user_gui.App_GlobalResources
@using PagedList.Mvc

@model PagedList.IPagedList<IArchive>
<p></p>
<div class="list-group">
    @if (Model != null)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @Messages.search_foundtitle
            </div>
        </div>
        <p>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(
                Model,
                page => page.ToString())
        </p>
        foreach (var archive in Model)
        {
            <div class="list-group-item" name="package" uuid="@(archive.ReferenceCode)" open="false">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        @archive.AipUri
                    </div>
                    <div class="col-lg-1 col-lg-offset-2">
                        <button type="button" class="btn btn-default btn-sm" name="openAddToCartAnchor" uuid="@archive.ReferenceCode">
                            @Messages.cart_add
                        </button>
                    </div>
                </div>

                <div name="packageFiles" id="packageFiles_@(archive.ReferenceCode)" style="display:none">
                    @foreach (var file in archive.Files)
                    {
                        <div class="row">
                            <div class="col-md-5 col-md-offset-3">
                                @file.Path
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>

<script>
    require(["searchresultview"], function (s) {
        s.attachEvents();
        s.attachPagerEvents();
    });
</script>