@using com.databasepreservation.model.structure

@model IEnumerable<SchemaStructure>

<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (SchemaStructure schema in Model) {
    <tr>
        <td>
            @Html.ActionLink(schema.getName(), "Index", "Table", new { package = ViewBag.PackageId, schema = schema.getName()}, new { data_target = schema.getName()} )
            <span id=@schema.getName()></span>
            @schema.getName()

            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
