@using end_user_gui.Models
@using end_user_gui.App_GlobalResources
@using PagedList.Mvc

@model PagedList.IPagedList<Archive>

<p></p>
<div class="list-group">
    @if (Model != null)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @Messages.search_foundtitle
            </div>
        </div>
        <p>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(
                Model,
                page => page.ToString(),
                new PagedListRenderOptions()
                {
                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                    DisplayLinkToLastPage = PagedListDisplayMode.Always,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    DisplayLinkToNextPage = PagedListDisplayMode.Always,
                })
        </p>
        foreach (Archive archive in Model)
        {
            <div class="list-group-item" name="package">
                <div class="row">
                    <div class="col-md-4 col-md-offset-0" style="text-align:left">
                        @archive.Metadata.Title
                    </div>

                    <div class="col-md-1 col-md-offset-6" name="expandPackage" uuid="@(archive.ReferenceCode)">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-collapse-down"></span> @Messages.search_expandcollapse
                        </button>
                    </div>

                    <div class="col-md-1">
                        <button type="button" class="btn btn-default btn-sm" name="openAddToCartAnchor" uuid="@archive.ReferenceCode">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>

                <div name="packageFiles" id="packageFiles_@(archive.ReferenceCode)" style="display:none" url="@Url.Action("PackageFiles", "Search", new { referenceCode = archive.ReferenceCode })">
                </div>
            </div>
        }
    }
</div>

<script>
    require(["searchresultview"], function (s) {
        s.attachEvents();
        s.attachPagerEvents();
    });
</script>