@using end_user_gui.Models

@model Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedReadyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedReadyDate)
        </dd>

    </dl>
</div>
@Html.Partial("OrderArchives", Model.Archives)
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
