@model IEnumerable<end_user_gui.Models.Order>
@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderUniqueID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedReadyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            Status here
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Archivist.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderUniqueID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedReadyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @{
                    var statElmId = "selStat_" + item.OrderUniqueID;
                    var d = new ViewDataDictionary();
                    d.Add("elementId", statElmId);
                }
                <span id="@statElmId">
                    @{Html.RenderPartial("Status", item, d);}
                </span>
            </td>
            <td>
                @{
                    var elmId = "selArch_" + item.OrderUniqueID;
                    var dd = new ViewDataDictionary();
                    dd.Add("elementId", elmId);
                }
                <span id="@elmId">
                    @{Html.RenderPartial("AssignedTo", item, dd);}
                </span>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.OrderUniqueID }) 
            </td>
        </tr>
                        }

</table>
