@model IEnumerable<end_user_gui.Models.Order>
@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderUniqueID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedReadyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            Status here
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Archivist.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderUniqueID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedReadyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                Add status here
            </td>
            <td>
                @{
                    var elmId = "selArch_" + item.OrderUniqueID;
                }
                <span id="@elmId">
                    @Html.DisplayFor(modelItem => item.Archivist.Name)

                    @Ajax.ActionLink("(Change)",
                    "SelectArchivist",
                    new { orderId = item.OrderUniqueID },
                    new AjaxOptions()
                    {
                        UpdateTargetId = elmId
                    })
                </span>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.OrderUniqueID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderUniqueID })
            </td>
        </tr>
    }

</table>

